@import "tailwindcss";

/* Prevent icons from shrinking in collapsed sider */
.ant-menu-item-icon {
  width: auto !important;
  min-width: 24px !important;
  font-size: 24px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-shrink: 0 !important;
}

.scrollable-list {
  overflow-y: auto;
  scrollbar-width: thin;               
  scrollbar-color: #c2c2c2 transparent; /* thumb & track for Firefox */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.scrollable-list::-webkit-scrollbar {
  width: 6px;      /* adjust width as you like */
}
.scrollable-list::-webkit-scrollbar-track {
  background: transparent;
}
.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}
.scrollable-list::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

